:root {
  --fc-base: #363636;
  --fc-muted: #575757;
  --fc-light: #eaeaea;

  --bg: #fff;
  --box-shadow: 0px 8px 24px #0000000d;

  --fs-xs: 1.4rem;
  --fs-base: 1.6rem;
  --fs-m: 2rem;
  --fs-l: 2.5rem;

  --font: "Montserrat", sans-serif;
  --border: 1px solid var(--fc-light);
}
