:root {
  --fc-base: #363636;
  --fc-muted: #575757;
  --fc-light: #eaeaea;

  --bg: #fff;
  --box-shadow: 0px 8px 24px #0000000d;

  --fs-xs: 1.4rem;
  --fs-base: clamp(1.4rem, 1.11vw, 1.6rem);
  --fs-m: clamp(1.2rem, 1.4vw, 2rem);
  --fs-ml: clamp(1.8rem, 1.67vw, 2.4rem);
  --fs-l: clamp(1.6rem, 1.75vw, 2.5rem);
  --fs-xl: clamp(2.5rem, 2.5vw, 4.5rem);
  --fs-2xl: clamp(3rem, 2.5vw, 5rem);
  --fs-3xl: clamp(1.7rem, 5vw, 7.5rem);

  --space-page: var(--fs-2xl) var(--fs-3xl);

  --font: "Montserrat", sans-serif;
  --border: 1px solid var(--fc-light);
}

:root[data-theme="dark"] {
  --fc-base: #e6e6e6;
  --fc-muted: #b3b3b3;
  --fc-light: #2a2a2a;

  --bg: #121212;
  --box-shadow: 0px 8px 24px rgba(255, 255, 255, 0.07);
}
