@use "./styles/variables";
@use "./styles/fonts";
@use "./styles/theme";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--fs-base);
  /* padding: clamp(3rem, 2.5vw, 5rem) clamp(1.7rem, 5vw, 7.5rem); */
  font-family: var(--font);
  background-color: var(--bg);
}
