@use "./styles/variables";
@use "./styles/fonts";
@use "./styles/theme_toggle";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--fs-base);
  /* padding: clamp(3rem, 2.5vw, 5rem) clamp(1.7rem, 5vw, 7.5rem); */
  font-family: var(--font);
  background-color: var(--bg);
}

.search-highlight {
  background: #ffeb3b;
  color: #000;
  padding: 0 0.3rem;
  border-radius: 2px;
}
.search-highlight + .search-highlight {
  margin-left: -0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
